:root {
	font-size: 1em;
}

a {
	text-decoration: none;
	color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
code,
body {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

// hide pesky scrollbar in all* browsers
* {
	scrollbar-width: none;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
