@import "color";
@import "typography";

$contentWidth: 1200px;

:root {
	font-size: 1em;
}

::selection {
	color: lighten($accent, 20%);
	text-shadow: 0 0 5px $accent;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

* {
	scrollbar-width: none;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

body {
	background-color: $background;

	margin: 0;
	padding: 0;

	header {
		display: flex;
		flex-direction: column;

		box-sizing: border-box;

		height: 100vh;
		min-height: 500px;

		background-image: url("../assets/header-backdrop.jpg");
		background-size: cover;
		background-position: center bottom;

		section {
			width: 100%;
			box-sizing: border-box;

			$dark: #000000a0;
			$light: #00000000;

			padding: 3em;
			@media screen and (max-width: 500px) {
				padding: 1em;
			}

			&.projects {
				background: linear-gradient($dark, $light);
			}

			&.details {
				background: linear-gradient($light, $dark);
			}

			ul {
				padding: 0;
				margin: 0;

				display: flex;
				flex-direction: row;
				gap: 2em;
				width: 100%;
				overflow: scroll;

				@media screen and (max-width: 500px) {
					justify-content: space-between;
				}

				li {
					color: $dark-foreground;
					font-family: $stdfont;
					font-size: 0.8rem;
					font-weight: 600;
					list-style: none;

					display: flex;
					align-items: center;

					height: 2em;

					gap: 1em;

					img {
						height: 1.2em;
					}

					a,
					&[role="button"] {
						cursor: pointer;
						transition: all 500ms ease-in-out;
						&:hover {
							transition: all 50ms ease-in-out;
							color: $accent;
							text-shadow: 0 0 5px $accent;
						}
					}

					@media screen and (max-width: 1000px) {
						font-size: 0.6rem;
					}

					&.highlight {
						color: $foreground;
					}

					span#progression {
						display: inline-block;
						width: 10em;
						height: 1em;

						border-radius: 1em;
						background-color: $foreground;
					}
				}
			}

			li:last-of-type {
				margin-left: auto;
			}

			&.heading {
				display: flex;
				flex: 1;
				justify-content: center;
				flex-direction: column;

				nav {
					margin-top: 1em;
					display: flex;
					gap: 1em;

					@media screen and (max-width: 600px) {
						justify-content: center;
					}

					button {
						font-family: $stdfont;
						font-weight: 600;

						background-color: #00000060;
						color: $foreground;

						border: none;
						border-radius: 1em;

						height: 2em;
						width: 8em;

						&.favicon {
							width: 2em;
						}

						transition: all 400ms ease-out;
						&:hover {
							transition: all 50ms ease-in;
							background-color: $accent;
						}
					}
				}

				h1 {
					margin: 0;
					color: $foreground;
					font-family: $stdfont;
					font-weight: 600;
					font-size: 4rem;

					text-shadow: 0 0 20px #00000080;

					transition: all 100ms ease-in-out;

					@media screen and (max-width: 1000px) {
						font-size: 3rem;
						@media screen and (max-width: 600px) {
							text-align: center;
							font-size: 2em;
						}
					}
				}
			}
		}
	}

	main {
		color: $foreground;

		display: flex;
		flex-direction: column;
		gap: 10em;

		width: calc(100% - 2em);
		max-width: $contentWidth;
		margin-inline: auto;
		padding-block: 10em;

		section {
			&#present {
				article {
					background-color: lighten($background, 4%);

					display: flex;
					justify-content: space-between;
					flex-direction: column;

					margin-top: 5em;
					border-radius: 1em;

					.favicons {
						justify-content: flex-end;
					}

					.banner {
						width: 100%;
						height: 6em;

						display: flex;
						justify-content: center;

						border-radius: 1em 1em 0 0;
						background-size: cover;
						background-position: center bottom;

						img {
							border-radius: 50%;
							width: 10em;
							height: 10em;
							margin-top: -5em;
						}
					}

					.content {
						padding: 3em;

						display: flex;
						flex-direction: column;
						gap: 2em;

						h3 {
							font-style: italic;
						}
					}

					@media screen and (max-width: 600px) {
						margin-top: 5em;

						.banner {
							height: 4em;
							img {
								width: 6em;
								height: 6em;
								margin: -3em auto 0 auto;
							}
						}

						.content {
							padding: 2em;
						}
					}
				}
			}

			&#projects {
				display: flex;
				flex-direction: column;
				gap: 1em;

				.gallery {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: center;
					flex: 0 0;
					gap: 1em;

					// @media screen and (max-width: 1000px) {
					// 	flex-direction: column;
					// }

					article {
						width: calc(33.33% - 0.75em);
						min-width: 300px;

						@media screen and (max-width: 650px) {
							min-width: 100%;
						}
						height: 500px;

						background-color: lighten($background, 4%);
						border-radius: 1em;

						.banner {
							width: 100%;
							height: 150px;
							background-image: url("../assets/header-backdrop.jpg");
							background-size: cover;
							background-position: center center;
							border-radius: 1em 1em 0 0;
						}

						.content {
							padding: 1em;
						}

						box-sizing: border-box;

						transform: none;
						transition: box-shadow 500ms ease-in-out,
							transform 500ms ease-in-out;
						&:hover {
							transition: box-shadow 50ms ease-in-out,
								transform 50ms ease-in-out;
							transform: translateY(-5px);
							box-shadow: 0 0 10px 1em darken($background, 2%);
						}
					}
				}

				a {
					font-family: $stdfont;
					font-weight: 600;

					background-color: #00000060;
					color: $foreground;

					width: 8em;
					height: 2.5em;
					align-self: center;

					display: flex;
					align-items: center;
					justify-content: center;

					border: none;
					border-radius: 1.5em;

					transition: all 400ms ease-out;
					&:hover {
						transition: all 50ms ease-in;
						background-color: $accent;
					}
				}
			}

			&#contact {
				section {
					background-color: lighten($background, 4%);

					padding: 3em;

					border-radius: 1em;

					@media screen and (max-width: 600px) {
						padding: 2em;
					}
				}
			}

			&#upcoming {
				display: flex;
				flex-direction: column;

				section {
					display: flex;
					flex-direction: column;
					justify-content: center;

					width: 100%;
					height: 20em;
					border-radius: 1em;
					position: relative;

					&::after {
						content: "";
						display: inline-block;
						position: absolute;
						border-radius: 1em;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-image: linear-gradient(
							to right,
							#00000000,
							#000000ff
						);
					}

					background-size: cover;

					box-sizing: border-box;
					padding: 3em;

					text-align: right;

					h2 {
						font-family: $stdparagraph;
						z-index: 1;
						margin: 0;
						margin-bottom: 1em;
						position: relative;
						@media screen and (max-width: 600px) {
							font-size: 1.3rem;
						}
					}

					p {
						position: relative;
						z-index: 1;
					}
				}
			}
		}

		h2 {
			font-size: 2rem;
			font-family: $stdfont;
			font-weight: 600;
		}

		h3 {
			margin: 0 0 1em 0;
			color: $accent;
			font-size: 1.2rem;
			font-family: $stdfont;
			font-weight: 600;
		}

		p {
			font-size: 1rem;
			font-family: $stdparagraph;
			color: $dark-foreground;
			font-weight: 300;
		}
	}

	footer {
		width: 100%;
		height: 20em;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2em;

		background-color: darken($background, 5%);

		p {
			font-style: italic;
			font-family: $stdparagraph;
			font-size: 0.7rem;
			color: $foreground;
		}

		img {
			height: 6em;
		}
	}

	.favicons {
		width: 100%;
		justify-content: center;
		display: flex;
		gap: 1em;

		img,
		button {
			height: 1.5em;
			width: 1.5em;
			border: none;

			padding: 0;
		}
	}
}
